@font-face {
    font-family:'Lora', serif;
    src: url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
}
@font-face {
    font-family: 'Istok Web', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
}
.menu{
    margin: 0;
    padding: 8px;
    height: 100%;
}

.menu li {
    display: inline;
}

li, h1, h3, h2, .specialtxt {
    font-family: 'Lora', serif;
}

h4, h5, h6, p, label, legend {
    font-family: 'Istok Web', sans-serif;
}

.hero {
    background-image: url(/images/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #2F4475; 
    display: grid;
    grid-template-columns: repeat(3,1fr)
}


body {
    background-color: #F2F3F0;
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main, .aboutmain {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 20px;
}

.aboutimg {
    max-width: 500px;
    padding-top: 40px;
}

.aboutmain {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 3fr 0.5fr 0.5fr;
}

.headerstxt, .aboutsubscribe, .subscribefield { 
    text-align: center;
    padding-left: 40px;
    padding-right: 20px;
    width: 80%;
}

.navtxt {
    color: black;
    text-decoration: none;
}

.footertxt {
    color: white;
}

.footerlink {
    text-decoration: none;
    color: white;
}

header {
    background-color: #2F4475;
}

.hnavtxt {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px;
    margin: 1.5em;
}

.form_contact, .form_checkout {
     display: block;
}

.txtmessage {
    
}

.contshp {
    color: black;
    text-decoration: none;
}


ul {
    padding: 0px;
}


.iconsnav {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 5em;
}

.instapic {
    text-align: center;
}

.inspiration {
    display: inline;
}

.supportform {
    max-width: 600px;
    align-items: center;
    margin: 0 auto;
}

/*All jackets page*/

.all-products {
    display: grid;
    grid-template-columns: repeat(3,minmax(0, 1fr));
    grid-gap: 10px;
}

.all-products img {
    width: 100%;
    max-height: 393px;
}

.single-jacket {
    padding-top: 20px;
}

.sortby {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    padding-top: 20px;
    max-height: auto;
}

/**Jacket page**/

.jacket-page {
    display: flex;
}

@media (max-width:600px) {
    .jacket-page {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .jacket-pic {
        max-width: 450px;
        
    }
}

@media (min-width:600px) {
    .jacket-page {
        grid-gap: 15px;
        padding-top: 20px;
    }
    .jacket-pic {
        max-width: 600px;
    }
   }